.bgWrap {
    width: 700px;
    height: 1000px;
    margin: 0 auto;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 10px;
    /* background: gold; */
}

.bgWrap .tList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    text-align: center;
    /* font: white; */
    color: white;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

/* inp */
.inpWrap,
.listView {
    width: 300px;
    margin: 0 auto;
}

.inpWrap {
    opacity: 0.9;
    /* background: skyblue; */
    padding: 10px;
}

.listView {
    /* background: rgb(109, 106, 212); */
    border-radius: 3px;
    padding: 10px 10px;
}

.listView ul li {
    display: flex;
    padding: 5px 10px;
}

.listView ul li .list {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 10px;
    /* color: white; */
}

.icon a {
    color: white;
}

.listView ul li .icon {
    margin-left: auto;
    background: #20d02e;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    gap: 10px;
}

.listView ul li .icon a {
    color: white;
}

.item.done {
    background: rgb(221, 64, 174);
}

/* btn */
/* .btn_modi {
    display: none;
} */

