.btn_modi {
    display: none;
}

.inpWrap,
.listView {
    width: 300px;
    margin: 0 auto;
}

.inpWrap {
    background: rgb(144, 72, 226);
}

.listView {
    background: rgb(199, 230, 89);
}

.listView ul li{
    display: flex;
    padding: 10px 10px;
}
.listView ul li .list{display: flex;align-items: center;padding-left: 10px;}
.listView ul li .icon{
    margin-left: auto;
    background: #000;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    gap:10px;
}
.listView ul li .icon a{color:white}

.item.done{background: rgb(109, 219, 238);}