.bgWrap {
    width: 700px;
    height: 1000px;
    margin: 0 auto;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 10px;
}

.bgWrap .tList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    text-align: center;
    color: white;
    border-radius: 50px;
    padding: 10px;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 30px;
}

/* inp */
.inpWrap,
.listView {
    width: 500px;
    margin: 0 auto;
}

.inp{width: 300px;}
.inpWrap {
    height: 30px;
    padding: 10px 10px;
    margin-bottom: 10px;
}


.inpWrap .btn_input,
.btn_modi {
    right: 0;
}

.listView {
    height: 700px;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #fff9f9;
    position: relative;
    border: 1px solid #000;
    
}

.listView .btnAllDel {
    position: absolute;
    bottom: 10px;
    padding: 20px 10px;
    background: white;
    border: 2px solid #000;
    display: block;
    right: 10px;
    
}

.listView ul li {
    display: flex;
    padding: 5px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.listView ul li .list {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.icon a {
    color: white;
}

.listView ul li .icon {
    margin-left: auto;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    gap: 10px;
}

.listView ul li .icon a {
    color: rgb(0, 0, 0);
}

.item.done {
    background: rgb(221, 64, 174);
}