
html{
    background-image: url(../포리/pori2.jpg);
}

.Wrap{

}

.inpWrap, .listView {
    width: 300px;
    margin: 0 auto;
}

.inpWrap {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(144, 72, 226);
    color: white;
    border-radius: 20px;
    margin-bottom: 10px;
}

.a1listView{
    background-color: gold;
}

.a1listView ul li{
    background: rgb(214, 106, 106);
    border-radius: 20px;
    margin-bottom: 5px;
}

.btn_modi {
    display: none;
}

.listView {

}


.listView ul li{
    display: flex;
    padding: 10px 10px;
}
.listView ul li .list{display: flex;align-items: center;padding-left: 10px;}
.listView ul li .icon{
    margin-left: auto;
    background: #000;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    gap:10px;
}
.listView ul li .icon a{color:white}

.item.done{background: rgb(109, 219, 238);}